
{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}


<div class="form registration">
    {{ form_start(registrationForm) }}
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
<div class="row">
        <i class="fa-solid fa-user col-lg-1" style="color: #a3a3a3;"></i>
        <div style="background: #383c41;" class="col-lg-11  hide-label">{{ form_row(registrationForm.name) }}</div>
</div>
<div class="row">
    <i class="fa-regular fa-user col-lg-1" style="color: #a3a3a3;"></i>
    <div style="background: #383c41;" class="col-lg-11  hide-label">{{ form_row(registrationForm.firstname) }}</div>
</div>
<div class="row">
    <i class="fa-solid fa-at col-lg-1" style="color: #a3a3a3;"></i>
    <div style="background: #383c41;" class="col-lg-11  hide-label">{{ form_row(registrationForm.email) }}</div>
</div>
<div class="row">
    <i class="fa-solid fa-key col-lg-1" style="color: #a3a3a3;"></i>
   <div style="background: #383c41;" class="col-lg-11 hide-label">{{ form_row(registrationForm.plainPassword) }}</div> 
</div>
<div class="agree">

    {{ form_row(registrationForm.agreeTerms) }}
</div>

<div class="row">

    <button class="btn btn-lg btn-primary col-lg-12" type="submit">
        Register
    </button>
   </div>
{{ form_end(registrationForm) }}





 
   

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

 
</div>
{% endblock %}




    
